extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 Formulario de Contacto

        .row
            .col-md-8.offset-md-2
                form(action="/contacto" method="POST")
                    .form-group
                        label(for="nombre") Nombre
                        input#nombre(type="text", placeholder="Tu nombre" name="nombre" class="form-control")
                    .form-group
                        label(for="correo") Correo Electrónico
                        input#correo(type="email", placeholder="Tu correo electrónico" name="correo" class="form-control")
                    .form-group
                        label(for="mensaje") Mensaje
                        textarea#mensaje(name="mensaje" class="form-control" placeholder="Tu mensaje" rows=4)
                    input.btn.btn-primary.btn-block(type="submit" value="Enviar Mensaje")
